@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
	font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent; /* make scrollbar transparent */
}

ul.tabs {
	width: 100%;
	float: left;
	position: relative;
	display: flex;
	font-size: 0;
	padding: 0;
	margin: 0;
	/*box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);*/
	border-radius: 2px;
	overflow-x: scroll;
	box-sizing: border-box;
}

ul.tabs li {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 500;
	width: auto;
	display: inline-flex;
	float: left;
	padding: 0 30px;
	list-style: none;
	height: 60px;
	text-align: center;
	line-height: 60px;
	position: relative;
	cursor: pointer;
	text-transform: uppercase;

	transition: 		all .3s ease-in-out .0s; /* explorer 10 */
	-webkit-transition: all .3s ease-in-out .0s; /* chrome & safari */
	-moz-transition: 	all .3s ease-in-out .0s; /* firefox */
	-o-transition: 		all .3s ease-in-out .0s; /* opera */
}

span.scroll-btn {
	border: 0;
	top: 0;
	position: relative;
	float: left;
	height: 56px;
	min-width: 50px;
	text-align: center;
	font-size: 20px;
	line-height: 60px;
	cursor: pointer;
	z-index: 999;
	font-weight: 100;
}

span.scroll-btn:hover {
	color: #fafafa;
}

ul.tabs span.disabled {
	cursor: auto;
}

ul.tabs li#slider {
	padding: 0;
	margin: 0;
  	position: absolute;
  	bottom: 0;
  	left: 0;
  	height: 4px;

  	transition: 		all .0s ease-in-out .0s; /* explorer 10 */
	-webkit-transition: all .0s ease-in-out .0s; /* chrome & safari */
	-moz-transition: 	all .0s ease-in-out .0s; /* firefox */
	-o-transition: 		all .0s ease-in-out .0s; /* opera */
}

.tab-content-container {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
}

.tab-content {
	overflow-x: auto;
	box-sizing: border-box;
	padding: 10px 35px;
	display: none;	
	position: absolute;
	margin: 0;
	width: 100%;
	height: auto;

	transition: 		all .0s ease-in-out .0s !important; /* explorer 10 */
	-webkit-transition: all .0s ease-in-out .0s !important; /* chrome & safari */
	-moz-transition: 	all .0s ease-in-out .0s !important; /* firefox */
	-o-transition: 		all .0s ease-in-out .0s !important; /* opera */
}

.tab-content h2 {
	font-size: 27px !important;
	margin-bottom: 20px;
	text-align: center;
	font-weight: 100;
}

.tab-content.active {
	top: 0;
	left: 0;
	display: inline-block;
	margin: 0;
}

/*  Ripple */

.ripple {
  	width: 0;
	height: 0;
	border-radius: 50%;
	background: #ccc;
	transform: scale(0);
	position: absolute;
	opacity: 1;
}

.rippleEffect {
	animation: rippleDrop .6s linear;
}

@keyframes rippleDrop {
	100% {
		transform: scale(2);
		opacity: 0;
	}
}